In [1]:
import pandas as pd

In [2]:
# Import income / population / county / fips
bea_county_merge_df = pd.read_csv("Resources/bea_county_merge_df.csv")
bea_county_merge_df

      Unnamed: 0  GeoFips per_capita_income population      county state
0              0     1001             46814      56145     Autauga    AL
1              1     1003             50953     229287     Baldwin    AL
2              2     1005             37850      24589     Barbour    AL
3              3     1007             34300      22136        Bibb    AL
4              4     1009             38808      57879      Blount    AL
...          ...      ...               ...        ...         ...   ...
3135        3135    56037             54000      42673  Sweetwater    WY
3136        3136    56039            220645      23497       Teton    WY
3137        3137    56041             42854      20215       Uinta    WY
3138        3138    56043             54361       7760    Washakie    WY
3139        3139    56045             47599       6743      Weston    WY

[3140 rows x 6 columns]

In [3]:
# Drop Unnamed column
bea_county_merge_df.drop(columns=["Unnamed: 0"], inplace=True)
bea_county_merge_df

      GeoFips per_capita_income population      county state
0        1001             46814      56145     Autauga    AL
1        1003             50953     229287     Baldwin    AL
2        1005             37850      24589     Barbour    AL
3        1007             34300      22136        Bibb    AL
4        1009             38808      57879      Blount    AL
...       ...               ...        ...         ...   ...
3135    56037             54000      42673  Sweetwater    WY
3136    56039            220645      23497       Teton    WY
3137    56041             42854      20215       Uinta    WY
3138    56043             54361       7760    Washakie    WY
3139    56045             47599       6743      Weston    WY

[3140 rows x 5 columns]

In [4]:
# Import zipcode / county / fips (zip_data_df)
# zip_data_df = pd.read_csv("Resources/zip_data_df.csv")
# zip_data_df

In [5]:
# Drop Unnamed column
# zip_data_df.drop(columns=["Unnamed: 0"], inplace=True)
# zip_data_df

In [6]:
# Import physician data / fips (physicians_merge_df)
physicians_merge_df = pd.read_csv("Resources/physicians_merge_df.csv")
physicians_merge_df

      Unnamed: 0  county_fips  doctor_count
0              0        12086         13619
1             12        72027            20
2             32         6025           236
3            101        40109          2914
4            108        39115            19
...          ...          ...           ...
3123      978090         6051            30
3124      978127        48169             2
3125      978219        35021             1
3126      978335        29133            14
3127      978470        31167             1

[3128 rows x 3 columns]

In [7]:
# Drop Unnamed column
physicians_merge_df.drop(columns=["Unnamed: 0"], inplace=True)
physicians_merge_df

      county_fips  doctor_count
0           12086         13619
1           72027            20
2            6025           236
3           40109          2914
4           39115            19
...           ...           ...
3123         6051            30
3124        48169             2
3125        35021             1
3126        29133            14
3127        31167             1

[3128 rows x 2 columns]

#### Merge income / population with zip code

In [8]:
# Merge county and zip code
# zip_county_merge_df = bea_county_merge_df.merge(zip_data_df, left_on="GeoFips", right_on="county_fips")
# zip_county_merge_df

### Merge physician data to income / population data

In [9]:
# Check count before merge
bea_county_merge_df.count()

GeoFips              3140
per_capita_income    3140
population           3140
county               3140
state                3140
dtype: int64

In [10]:
# Check count before merge
physicians_merge_df.count()

county_fips     3128
doctor_count    3128
dtype: int64

In [11]:
# Merge physician data to income / population data
# merged_df = bea_county_merge_df.merge(physicians_merge_df, left_on="GeoFips", right_on="county_fips")
merged_df = physicians_merge_df.merge(bea_county_merge_df, left_on="county_fips", right_on="GeoFips")
merged_df

,county_fips,doctor_count,GeoFips,per_capita_income,population,county,state
0,12086,13619,12086,57213,2707303,Miami-Dade,FL
1,6025,236,6025,44500,180267,Imperial,CA
2,40109,2914,40109,56971,804041,Oklahoma,OK
3,39115,19,39115,38583,14305,Morgan,OH
4,8059,1459,8059,68829,583283,Jefferson,CO
...,...,...,...,...,...,...,...
2997,6051,30,6051,54586,14534,Mono,CA
2998,48169,2,48169,31223,6222,Garza,TX
2999,35021,1,35021,50723,638,Harding,NM
3000,29133,14,29133,37483,12691,Mississippi,MO
3001,31167,1,31167,52621,5880,Stanton,NE

In [12]:
# Check dtypes
merged_df.dtypes

county_fips           int64
doctor_count          int64
GeoFips               int64
per_capita_income    object
population           object
county               object
state                object
dtype: object

In [13]:
# Drop redundant columns
merged_df.drop(columns=["GeoFips"], inplace=True)
merged_df

,county_fips,doctor_count,per_capita_income,population,county,state
0,12086,13619,57213,2707303,Miami-Dade,FL
1,6025,236,44500,180267,Imperial,CA
2,40109,2914,56971,804041,Oklahoma,OK
3,39115,19,38583,14305,Morgan,OH
4,8059,1459,68829,583283,Jefferson,CO
...,...,...,...,...,...,...
2997,6051,30,54586,14534,Mono,CA
2998,48169,2,31223,6222,Garza,TX
2999,35021,1,50723,638,Harding,NM
3000,29133,14,37483,12691,Mississippi,MO
3001,31167,1,52621,5880,Stanton,NE

In [15]:
# Re order columns
merged_df = merged_df[["county_fips", "county", "state", "doctor_count", "population", "per_capita_income"]]
merged_df

,county_fips,county,state,doctor_count,population,per_capita_income
0,12086,Miami-Dade,FL,13619,2707303,57213
1,6025,Imperial,CA,236,180267,44500
2,40109,Oklahoma,OK,2914,804041,56971
3,39115,Morgan,OH,19,14305,38583
4,8059,Jefferson,CO,1459,583283,68829
...,...,...,...,...,...,...
2997,6051,Mono,CA,30,14534,54586
2998,48169,Garza,TX,2,6222,31223
2999,35021,Harding,NM,1,638,50723
3000,29133,Mississippi,MO,14,12691,37483
3001,31167,Stanton,NE,1,5880,52621

In [16]:
# Check for populations with "(NA)"
merged_df.sort_values(["population"], ascending=True)

,county_fips,county,state,doctor_count,population,per_capita_income
1674,2261,Valdez-Cordova Census Area,AK,29,(NA),(NA)
2568,29089,Howard,MO,11,10001,43946
208,6019,Fresno,CA,1397,1000918,48495
1998,13099,Early,GA,16,10037,42889
2634,8125,Yuma,CO,37,10047,47285
...,...,...,...,...,...,...
681,6057,Nevada,CA,190,99606,64876
2352,19069,Franklin,IA,36,9971,51028
403,1011,Bullock,AL,11,9976,31944
703,5051,Garland,AR,356,99789,44358
670,48231,Hunt,TX,154,99807,42819

In [17]:
# Drop population values equal to "(NA)" 
merged_df.drop(merged_df.index[merged_df['population'] == "(NA)"], inplace = True)
merged_df

C:\Users\Tony\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,county_fips,county,state,doctor_count,population,per_capita_income
0,12086,Miami-Dade,FL,13619,2707303,57213
1,6025,Imperial,CA,236,180267,44500
2,40109,Oklahoma,OK,2914,804041,56971
3,39115,Morgan,OH,19,14305,38583
4,8059,Jefferson,CO,1459,583283,68829
...,...,...,...,...,...,...
2997,6051,Mono,CA,30,14534,54586
2998,48169,Garza,TX,2,6222,31223
2999,35021,Harding,NM,1,638,50723
3000,29133,Mississippi,MO,14,12691,37483
3001,31167,Stanton,NE,1,5880,52621

In [18]:
# Check for per_capita_income with "(NA)"
merged_df.sort_values(["per_capita_income"], ascending=True)

      county_fips     county state  doctor_count population per_capita_income
2647        46119      Sully    SD             2       1391            100301
860         51013  Arlington    VA           361     240119            100823
319         34027     Morris    NJ          1571     491087            102227
226         12021    Collier    FL          1164     392973            103865
1696        51075  Goochland    VA             6      24431            105619
...           ...        ...   ...           ...        ...               ...
737         34019  Hunterdon    NJ           305     124797             95088
262         13121     Fulton    GA          4128    1077402             95683
29          36059     Nassau    NY          9091    1351334             96253
149         53033       King    WA          7559    2274315             96647
152         25021    Norfolk    MA          2960     709409             98019

[3001 rows x 6 columns]

In [19]:
# Check dtypes
merged_df.dtypes

county_fips           int64
county               object
state                object
doctor_count          int64
population           object
per_capita_income    object
dtype: object

In [20]:
# Change county_fips to string
merged_df['county_fips'] = merged_df['county_fips'].astype("string")
merged_df.dtypes

C:\Users\Tony\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

county_fips          string
county               object
state                object
doctor_count          int64
population           object
per_capita_income    object
dtype: object

In [21]:
# Change population and per_capita_income to numeric
merged_df["population"] = pd.to_numeric(merged_df["population"])
merged_df["per_capita_income"] = pd.to_numeric(merged_df["per_capita_income"])
merged_df.dtypes

C:\Users\Tony\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Tony\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

county_fips          string
county               object
state                object
doctor_count          int64
population            int64
per_capita_income     int64
dtype: object

In [23]:
# Add column calculating number of doctors divided by population
merged_df["pcp_per_capita"] = merged_df["doctor_count"]/merged_df["population"]
merged_df

C:\Users\Tony\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,county_fips,county,state,doctor_count,population,per_capita_income,pcp_per_capita
0,12086,Miami-Dade,FL,13619,2707303,57213,0.005030
1,6025,Imperial,CA,236,180267,44500,0.001309
2,40109,Oklahoma,OK,2914,804041,56971,0.003624
3,39115,Morgan,OH,19,14305,38583,0.001328
4,8059,Jefferson,CO,1459,583283,68829,0.002501
...,...,...,...,...,...,...,...
2997,6051,Mono,CA,30,14534,54586,0.002064
2998,48169,Garza,TX,2,6222,31223,0.000321
2999,35021,Harding,NM,1,638,50723,0.001567
3000,29133,Mississippi,MO,14,12691,37483,0.001103
3001,31167,Stanton,NE,1,5880,52621,0.000170

In [24]:
# Review calculated info in new pcp_per_capita column
merged_df.pcp_per_capita.describe()

count    3001.000000
mean        0.002539
std         0.002039
min         0.000024
25%         0.001377
50%         0.002172
75%         0.003199
max         0.035942
Name: pcp_per_capita, dtype: float64

In [25]:
# Check dtypes
merged_df.dtypes

county_fips           string
county                object
state                 object
doctor_count           int64
population             int64
per_capita_income      int64
pcp_per_capita       float64
dtype: object

In [26]:
# # Format columns
# merged_df["population"] = merged_df["population"].map("{:,}".format)
# merged_df["per_capita_income"] = merged_df["per_capita_income"].map("${:,.0f}".format)
# merged_df

In [27]:
# Saving file as reference
merged_df.to_csv("Resources/merged_df.csv")