In [1]:
import pandas as pd

In [3]:
physicians_dtypes = {"zip": str, "grd_yr": str}

In [4]:
# Michigan DataFrame: Michigan only
physicians_original_df = pd.read_csv("michigan_physician_data.csv", encoding="ISO-8859-1", dtype=physicians_dtypes)
physicians_original_df

,npi,grd_yr,pri_spec,cty,st,zip,ind_assgn,grp_assgn
0,1215376108,2013,ALLERGY/IMMUNOLOGY,LAPEER,MI,484464421,Y,M
1,1215234745,2007,OPHTHALMOLOGY,PORTAGE,MI,490241232,Y,M
2,1215167812,1998,FAMILY MEDICINE,DETROIT,MI,482271749,Y,M
3,1215178306,2001,CLINICAL SOCIAL WORKER,JACKSON,MI,492033652,Y,M
4,1215172580,1977,"PSYCHOLOGIST, CLINICAL",WEST BLOOMFIELD,MI,483223784,Y,M
...,...,...,...,...,...,...,...,...
104570,1306272042,2011,"PSYCHOLOGIST, CLINICAL",ANN ARBOR,MI,481058800,Y,Y
104571,1487107249,2015,PODIATRY,ALMA,MI,488011026,Y,Y
104572,1679837504,2012,PODIATRY,ALMA,MI,488011026,Y,Y
104573,1033648944,2015,CHIROPRACTIC,BAY CITY,MI,487063318,Y,Y
104574,1407245814,2014,CHIROPRACTIC,BAY CITY,MI,487063318,Y,Y

In [8]:
primary_care_spec = ['FAMILY MEDICINE', 'NURSE PRACTITIONER', 'GENERAL PRACTICE', 'PREVENTATIVE MEDICINE', 'EMERGENCY MEDICINE', 'PHYSICIAN ASSISTANT', 'INTERNAL MEDICINE', 'PEDIATRIC MEDICINE', 'OBSTETRICS/GYNECOLOGY' ]

In [11]:
pcp_df = physicians_original_df[physicians_original_df['pri_spec'].isin(primary_care_spec)]
pcp_df

,npi,grd_yr,pri_spec,cty,st,zip,ind_assgn,grp_assgn
2,1215167812,1998,FAMILY MEDICINE,DETROIT,MI,482271749,Y,M
9,1215385851,2015,NURSE PRACTITIONER,SOUTHFIELD,MI,480763713,Y,M
18,1215021472,1991,INTERNAL MEDICINE,FLINT,MI,485325408,Y,M
21,1215059241,1977,GENERAL PRACTICE,JENISON,MI,494289757,Y,M
22,1215038906,1976,INTERNAL MEDICINE,ST JOHNS,MI,488791559,Y,M
...,...,...,...,...,...,...,...,...
104558,1902288947,2015,EMERGENCY MEDICINE,OWOSSO,MI,488672120,Y,Y
104560,1043621451,2014,INTERNAL MEDICINE,WARREN,MI,480886854,Y,Y
104561,1366418667,1975,INTERNAL MEDICINE,WARREN,MI,480886854,Y,Y
104565,1720035991,1978,INTERNAL MEDICINE,WARREN,MI,480886854,Y,Y
104567,1831324565,2009,FAMILY MEDICINE,WARREN,MI,480886854,Y,Y

In [12]:
pcp_df.to_csv("mi_pcp_df.csv")

In [ ]:
#