In [1]:
# Import dependencies
import pandas as pd
import numpy as np

In [2]:
# Import data
file_path = "uszips.csv"
# Drop index
zip_data_df = pd.read_csv(file_path)
zip_data_df.head(10)

,zip,lat,lng,city,state_id,state_name,zcta,parent_zcta,population,density,county_fips,county_name,county_weights,county_names_all,county_fips_all,imprecise,military,timezone
0,601,18.18005,-66.75218,Adjuntas,PR,Puerto Rico,True,NaN,17113.0,102.7,72001,Adjuntas,"{""72001"": ""99.43"", ""72141"": ""0.57""}",Adjuntas|Utuado,72001|72141,False,False,America/Puerto_Rico
1,602,18.36074,-67.17519,Aguada,PR,Puerto Rico,True,NaN,37751.0,476.0,72003,Aguada,"{""72003"": ""100""}",Aguada,72003,False,False,America/Puerto_Rico
2,603,18.45440,-67.12201,Aguadilla,PR,Puerto Rico,True,NaN,47081.0,574.9,72005,Aguadilla,"{""72005"": ""100""}",Aguadilla,72005,False,False,America/Puerto_Rico
3,606,18.16721,-66.93828,Maricao,PR,Puerto Rico,True,NaN,6392.0,58.3,72093,Maricao,"{""72093"": ""94.88"", ""72153"": ""3.78"", ""72121"": ""...",Maricao|Yauco|Sabana Grande,72093|72153|72121,False,False,America/Puerto_Rico
4,610,18.29032,-67.12244,Anasco,PR,Puerto Rico,True,NaN,26686.0,286.9,72011,Añasco,"{""72011"": ""99.45"", ""72003"": ""0.55""}",Añasco|Aguada,72011|72003,False,False,America/Puerto_Rico
5,612,18.40699,-66.70805,Arecibo,PR,Puerto Rico,True,NaN,59369.0,339.1,72013,Arecibo,"{""72013"": ""99.89"", ""72017"": ""0.11""}",Arecibo|Barceloneta,72013|72017,False,False,America/Puerto_Rico
6,616,18.41752,-66.66814,Bajadero,PR,Puerto Rico,True,NaN,10022.0,335.6,72013,Arecibo,"{""72013"": ""100""}",Arecibo,72013,False,False,America/Puerto_Rico
7,617,18.44125,-66.55916,Barceloneta,PR,Puerto Rico,True,NaN,23750.0,603.5,72017,Barceloneta,"{""72017"": ""99.43"", ""72054"": ""0.57""}",Barceloneta|Florida,72017|72054,False,False,America/Puerto_Rico
8,622,17.99174,-67.15248,Boqueron,PR,Puerto Rico,True,NaN,6741.0,89.8,72023,Cabo Rojo,"{""72023"": ""100""}",Cabo Rojo,72023,False,False,America/Puerto_Rico
9,623,18.08354,-67.15418,Cabo Rojo,PR,Puerto Rico,True,NaN,41746.0,424.5,72023,Cabo Rojo,"{""72023"": ""100""}",Cabo Rojo,72023,False,False,America/Puerto_Rico

In [3]:
# Column types
zip_data_df.dtypes

zip                   int64
lat                 float64
lng                 float64
city                 object
state_id             object
state_name           object
zcta                   bool
parent_zcta         float64
population          float64
density             float64
county_fips           int64
county_name          object
county_weights       object
county_names_all     object
county_fips_all      object
imprecise              bool
military               bool
timezone             object
dtype: object

In [4]:
# Row count
zip_data_df.count()

zip                 33120
lat                 33120
lng                 33120
city                33120
state_id            33120
state_name          33120
zcta                33120
parent_zcta             0
population          33096
density             33096
county_fips         33120
county_name         33120
county_weights      33120
county_names_all    33120
county_fips_all     33120
imprecise           33120
military            33120
timezone            33120
dtype: int64

In [5]:
# Drop duplicates
zip_data_df.drop_duplicates()

,zip,lat,lng,city,state_id,state_name,zcta,parent_zcta,population,density,county_fips,county_name,county_weights,county_names_all,county_fips_all,imprecise,military,timezone
0,601,18.18005,-66.75218,Adjuntas,PR,Puerto Rico,True,NaN,17113.0,102.7,72001,Adjuntas,"{""72001"": ""99.43"", ""72141"": ""0.57""}",Adjuntas|Utuado,72001|72141,False,False,America/Puerto_Rico
1,602,18.36074,-67.17519,Aguada,PR,Puerto Rico,True,NaN,37751.0,476.0,72003,Aguada,"{""72003"": ""100""}",Aguada,72003,False,False,America/Puerto_Rico
2,603,18.45440,-67.12201,Aguadilla,PR,Puerto Rico,True,NaN,47081.0,574.9,72005,Aguadilla,"{""72005"": ""100""}",Aguadilla,72005,False,False,America/Puerto_Rico
3,606,18.16721,-66.93828,Maricao,PR,Puerto Rico,True,NaN,6392.0,58.3,72093,Maricao,"{""72093"": ""94.88"", ""72153"": ""3.78"", ""72121"": ""...",Maricao|Yauco|Sabana Grande,72093|72153|72121,False,False,America/Puerto_Rico
4,610,18.29032,-67.12244,Anasco,PR,Puerto Rico,True,NaN,26686.0,286.9,72011,Añasco,"{""72011"": ""99.45"", ""72003"": ""0.55""}",Añasco|Aguada,72011|72003,False,False,America/Puerto_Rico
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33115,99923,55.97796,-130.03671,Hyder,AK,Alaska,True,NaN,14.0,0.3,2198,Prince of Wales-Hyder,"{""02198"": ""100""}",Prince of Wales-Hyder,02198,False,False,America/Sitka
33116,99925,55.55796,-132.97482,Klawock,AK,Alaska,True,NaN,908.0,6.3,2198,Prince of Wales-Hyder,"{""02198"": ""100""}",Prince of Wales-Hyder,02198,False,False,America/Sitka
33117,99926,55.12617,-131.48928,Metlakatla,AK,Alaska,True,NaN,1654.0,4.8,2198,Prince of Wales-Hyder,"{""02198"": ""100""}",Prince of Wales-Hyder,02198,False,False,America/Metlakatla
33118,99927,56.25100,-133.37572,Point Baker,AK,Alaska,True,NaN,0.0,0.0,2198,Prince of Wales-Hyder,"{""02198"": ""100""}",Prince of Wales-Hyder,02198,False,False,America/Sitka
33119,99929,56.36950,-131.93648,Wrangell,AK,Alaska,True,NaN,2502.0,0.4,2275,Wrangell,"{""02275"": ""100""}",Wrangell,02275,False,False,America/Sitka

In [6]:
# Check for populations with 0
zip_data_df.sort_values(["population"], ascending=True)

,zip,lat,lng,city,state_id,state_name,zcta,parent_zcta,population,density,county_fips,county_name,county_weights,county_names_all,county_fips_all,imprecise,military,timezone
15892,48233,42.32370,-83.06166,Detroit,MI,Michigan,True,NaN,0.0,0.0,26163,Wayne,"{""26163"": ""0""}",Wayne,26163,False,False,America/Detroit
2629,10173,40.75413,-73.97936,New York,NY,New York,True,NaN,0.0,0.0,36061,New York,"{""36061"": ""100""}",New York,36061,False,False,America/New_York
19235,56658,48.09036,-93.82919,Margie,MN,Minnesota,True,NaN,0.0,0.0,27071,Koochiching,"{""27071"": ""100""}",Koochiching,27071,False,False,America/Chicago
14420,44652,40.90044,-81.32618,Middlebranch,OH,Ohio,True,NaN,0.0,0.0,39151,Stark,"{""39151"": ""100""}",Stark,39151,False,False,America/New_York
2628,10172,40.75527,-73.97431,New York,NY,New York,True,NaN,0.0,0.0,36061,New York,"{""36061"": ""0""}",New York,36061,False,False,America/New_York
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31864,96929,13.56510,144.87620,Yigo,GU,Guam,True,NaN,NaN,NaN,66010,Guam,"{""66010"": 100}",Guam,66010,False,False,Pacific/Guam
31865,96932,13.47524,144.74216,Hagatna,GU,Guam,True,NaN,NaN,NaN,66010,Guam,"{""66010"": 100}",Guam,66010,False,False,Pacific/Guam
31866,96950,15.18887,145.75356,Saipan,MP,Northern Mariana Islands,True,NaN,NaN,NaN,69110,Saipan,"{""69110"": 100}",Saipan,69110,False,False,Pacific/Saipan
31867,96951,14.15733,145.21450,Rota,MP,Northern Mariana Islands,True,NaN,NaN,NaN,69100,Rota,"{""69100"": 100}",Rota,69100,False,False,Pacific/Saipan
31868,96952,15.01312,145.63149,Tinian,MP,Northern Mariana Islands,True,NaN,NaN,NaN,69120,Tinian,"{""69120"": 100}",Tinian,69120,False,False,Pacific/Saipan

In [7]:
# Drop population values equal to zero 
zip_data_df.drop(zip_data_df.index[zip_data_df['population'] == 0], inplace = True)
zip_data_df

,zip,lat,lng,city,state_id,state_name,zcta,parent_zcta,population,density,county_fips,county_name,county_weights,county_names_all,county_fips_all,imprecise,military,timezone
0,601,18.18005,-66.75218,Adjuntas,PR,Puerto Rico,True,NaN,17113.0,102.7,72001,Adjuntas,"{""72001"": ""99.43"", ""72141"": ""0.57""}",Adjuntas|Utuado,72001|72141,False,False,America/Puerto_Rico
1,602,18.36074,-67.17519,Aguada,PR,Puerto Rico,True,NaN,37751.0,476.0,72003,Aguada,"{""72003"": ""100""}",Aguada,72003,False,False,America/Puerto_Rico
2,603,18.45440,-67.12201,Aguadilla,PR,Puerto Rico,True,NaN,47081.0,574.9,72005,Aguadilla,"{""72005"": ""100""}",Aguadilla,72005,False,False,America/Puerto_Rico
3,606,18.16721,-66.93828,Maricao,PR,Puerto Rico,True,NaN,6392.0,58.3,72093,Maricao,"{""72093"": ""94.88"", ""72153"": ""3.78"", ""72121"": ""...",Maricao|Yauco|Sabana Grande,72093|72153|72121,False,False,America/Puerto_Rico
4,610,18.29032,-67.12244,Anasco,PR,Puerto Rico,True,NaN,26686.0,286.9,72011,Añasco,"{""72011"": ""99.45"", ""72003"": ""0.55""}",Añasco|Aguada,72011|72003,False,False,America/Puerto_Rico
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33114,99922,55.30211,-133.03248,Hydaburg,AK,Alaska,True,NaN,342.0,1.1,2198,Prince of Wales-Hyder,"{""02198"": ""100""}",Prince of Wales-Hyder,02198,False,False,America/Sitka
33115,99923,55.97796,-130.03671,Hyder,AK,Alaska,True,NaN,14.0,0.3,2198,Prince of Wales-Hyder,"{""02198"": ""100""}",Prince of Wales-Hyder,02198,False,False,America/Sitka
33116,99925,55.55796,-132.97482,Klawock,AK,Alaska,True,NaN,908.0,6.3,2198,Prince of Wales-Hyder,"{""02198"": ""100""}",Prince of Wales-Hyder,02198,False,False,America/Sitka
33117,99926,55.12617,-131.48928,Metlakatla,AK,Alaska,True,NaN,1654.0,4.8,2198,Prince of Wales-Hyder,"{""02198"": ""100""}",Prince of Wales-Hyder,02198,False,False,America/Metlakatla
33119,99929,56.36950,-131.93648,Wrangell,AK,Alaska,True,NaN,2502.0,0.4,2275,Wrangell,"{""02275"": ""100""}",Wrangell,02275,False,False,America/Sitka

In [13]:
# Drop population if null (most are duplicates)
zip_data_df.drop(zip_data_df.index[zip_data_df['population'] == "NaN"], inplace = True)
zip_data_df

,zip,lat,lng,city,state_id,state_name,zcta,parent_zcta,population,density,county_fips,county_name,county_weights,county_names_all,county_fips_all,imprecise,military,timezone
0,601,18.18005,-66.75218,Adjuntas,PR,Puerto Rico,True,NaN,17113.0,102.7,72001,Adjuntas,"{""72001"": ""99.43"", ""72141"": ""0.57""}",Adjuntas|Utuado,72001|72141,False,False,America/Puerto_Rico
1,602,18.36074,-67.17519,Aguada,PR,Puerto Rico,True,NaN,37751.0,476.0,72003,Aguada,"{""72003"": ""100""}",Aguada,72003,False,False,America/Puerto_Rico
2,603,18.45440,-67.12201,Aguadilla,PR,Puerto Rico,True,NaN,47081.0,574.9,72005,Aguadilla,"{""72005"": ""100""}",Aguadilla,72005,False,False,America/Puerto_Rico
3,606,18.16721,-66.93828,Maricao,PR,Puerto Rico,True,NaN,6392.0,58.3,72093,Maricao,"{""72093"": ""94.88"", ""72153"": ""3.78"", ""72121"": ""...",Maricao|Yauco|Sabana Grande,72093|72153|72121,False,False,America/Puerto_Rico
4,610,18.29032,-67.12244,Anasco,PR,Puerto Rico,True,NaN,26686.0,286.9,72011,Añasco,"{""72011"": ""99.45"", ""72003"": ""0.55""}",Añasco|Aguada,72011|72003,False,False,America/Puerto_Rico
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33114,99922,55.30211,-133.03248,Hydaburg,AK,Alaska,True,NaN,342.0,1.1,2198,Prince of Wales-Hyder,"{""02198"": ""100""}",Prince of Wales-Hyder,02198,False,False,America/Sitka
33115,99923,55.97796,-130.03671,Hyder,AK,Alaska,True,NaN,14.0,0.3,2198,Prince of Wales-Hyder,"{""02198"": ""100""}",Prince of Wales-Hyder,02198,False,False,America/Sitka
33116,99925,55.55796,-132.97482,Klawock,AK,Alaska,True,NaN,908.0,6.3,2198,Prince of Wales-Hyder,"{""02198"": ""100""}",Prince of Wales-Hyder,02198,False,False,America/Sitka
33117,99926,55.12617,-131.48928,Metlakatla,AK,Alaska,True,NaN,1654.0,4.8,2198,Prince of Wales-Hyder,"{""02198"": ""100""}",Prince of Wales-Hyder,02198,False,False,America/Metlakatla
33119,99929,56.36950,-131.93648,Wrangell,AK,Alaska,True,NaN,2502.0,0.4,2275,Wrangell,"{""02275"": ""100""}",Wrangell,02275,False,False,America/Sitka

In [14]:
# Rename zip column
zip_data_df.rename(columns={'zip': 'zipcode'})

,zipcode,lat,lng,city,state_id,state_name,zcta,parent_zcta,population,density,county_fips,county_name,county_weights,county_names_all,county_fips_all,imprecise,military,timezone
0,601,18.18005,-66.75218,Adjuntas,PR,Puerto Rico,True,NaN,17113.0,102.7,72001,Adjuntas,"{""72001"": ""99.43"", ""72141"": ""0.57""}",Adjuntas|Utuado,72001|72141,False,False,America/Puerto_Rico
1,602,18.36074,-67.17519,Aguada,PR,Puerto Rico,True,NaN,37751.0,476.0,72003,Aguada,"{""72003"": ""100""}",Aguada,72003,False,False,America/Puerto_Rico
2,603,18.45440,-67.12201,Aguadilla,PR,Puerto Rico,True,NaN,47081.0,574.9,72005,Aguadilla,"{""72005"": ""100""}",Aguadilla,72005,False,False,America/Puerto_Rico
3,606,18.16721,-66.93828,Maricao,PR,Puerto Rico,True,NaN,6392.0,58.3,72093,Maricao,"{""72093"": ""94.88"", ""72153"": ""3.78"", ""72121"": ""...",Maricao|Yauco|Sabana Grande,72093|72153|72121,False,False,America/Puerto_Rico
4,610,18.29032,-67.12244,Anasco,PR,Puerto Rico,True,NaN,26686.0,286.9,72011,Añasco,"{""72011"": ""99.45"", ""72003"": ""0.55""}",Añasco|Aguada,72011|72003,False,False,America/Puerto_Rico
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33114,99922,55.30211,-133.03248,Hydaburg,AK,Alaska,True,NaN,342.0,1.1,2198,Prince of Wales-Hyder,"{""02198"": ""100""}",Prince of Wales-Hyder,02198,False,False,America/Sitka
33115,99923,55.97796,-130.03671,Hyder,AK,Alaska,True,NaN,14.0,0.3,2198,Prince of Wales-Hyder,"{""02198"": ""100""}",Prince of Wales-Hyder,02198,False,False,America/Sitka
33116,99925,55.55796,-132.97482,Klawock,AK,Alaska,True,NaN,908.0,6.3,2198,Prince of Wales-Hyder,"{""02198"": ""100""}",Prince of Wales-Hyder,02198,False,False,America/Sitka
33117,99926,55.12617,-131.48928,Metlakatla,AK,Alaska,True,NaN,1654.0,4.8,2198,Prince of Wales-Hyder,"{""02198"": ""100""}",Prince of Wales-Hyder,02198,False,False,America/Metlakatla
33119,99929,56.36950,-131.93648,Wrangell,AK,Alaska,True,NaN,2502.0,0.4,2275,Wrangell,"{""02275"": ""100""}",Wrangell,02275,False,False,America/Sitka

In [15]:
# Drop columns
zip_data_df.drop(columns=["lat", "lng", "state_id", "state_name", "parent_zcta", "density", "county_fips", "county_weights", 
                          "county_names_all", "county_fips_all", "imprecise", "military", "timezone"])

         zip        city  zcta  population            county_name
0        601    Adjuntas  True     17113.0               Adjuntas
1        602      Aguada  True     37751.0                 Aguada
2        603   Aguadilla  True     47081.0              Aguadilla
3        606     Maricao  True      6392.0                Maricao
4        610      Anasco  True     26686.0                 Añasco
...      ...         ...   ...         ...                    ...
33114  99922    Hydaburg  True       342.0  Prince of Wales-Hyder
33115  99923       Hyder  True        14.0  Prince of Wales-Hyder
33116  99925     Klawock  True       908.0  Prince of Wales-Hyder
33117  99926  Metlakatla  True      1654.0  Prince of Wales-Hyder
33119  99929    Wrangell  True      2502.0               Wrangell

[32782 rows x 5 columns]

In [11]:
# Output to CSV
zip_data_df.to_csv("zipcodes.csv")